p{
	font-size:20pt;
	color:#1E90FF;
	text-shadow:2px 2px 3px black;
	text-align: center;
}
h1{
	color: #1E90FF;
	text-align: center;
	text-shadow: 2px 2px 3px black;
	font-size: 80pt;
}
h2{
	color: #1E90FF;
	text-align: center;
	text-shadow: 2px 2px 3px black;
	font-size: 40pt;
}
h3{
	text-align: center;
	text-shadow: 2px 2px 3px black;
	font-size: 20pt;
}
img{
	width: 150px; 
	height: 200px; 
	border: 1px; 
	margin-left: 20px;
	margin-top: 13px;
}
body{
	background:url(fon.jpg);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
dt{
	color: #1E90FF;
	font-size: 15pt;
}
dd{
	font-size: 15pt;
}
hr{
	border: 0;
	color: #1E90FF;
}
table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	width: 700px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 5px;
	background: #1E90FF;
	color: #000000;
	border: 16px solid #E0FFFF;
	border-radius: 20px;
}
th {
	font-size: 18px;
	padding: 10px;
}
td {
	background:#E0FFFF;
	padding: 10px;
}
A {
    	color: #000000;
}
A:visited {
    	color: #000000;
}
A:active {
    	color: #1E90FF;
}
	
